<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

    <properties resource="db.properties"/>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">
                <!-- value属性值引用db.properties配置文件中配置的值 -->
                <property name="driver" value="${db.driverClass}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>

            <!--<dataSource type="POOLED">-->
            <!--<property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
            <!--<property name="url" value="jdbc:mysql://localhost:3306/daxue?useSSL=false"/>-->
            <!--<property name="username" value="root"/>-->
            <!--<property name="password" value="root"/>-->
            <!--</dataSource>-->
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/BlogArticleMapper.xml"/>

    </mappers>


    <!--
        <properties resource=""></properties>
        <settings>
            <setting name="" value=""/>
        </settings>

        <typeAliases></typeAliases>
        <typeHandlers></typeHandlers>
        <objectFactory type="" ></objectFactory>
        <plugins>
            <plugin interceptor=""></plugin>
        </plugins>
        <databaseIdProvider type="" ></databaseIdProvider>
    -->
</configuration>